body{
    background-image: url("/background.png");
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition:0.3s ease-in-out;
    background-attachment: fixed;
    background-position:center;

}