
@import url("variables.css");
@font-face{
  font-family:'burbank';
  src:url('../Burbank-uGmKF_CA.otf');
  font-weight:100;
}
*{
  box-sizing: border-box;
  font-family:burbank;
  margin: 0;
    padding: 0;
  letter-spacing: 0.5px;}

  .itemcontainer{
    display:flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

  }
.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 40px;
  margin:2rem;
  top:-10px;
  padding: 1.5rem;
  transition:0.3s ease-in-out;
  align-items:center;
  width:20%;
  height:150%;
}


.heading{
  color:white;
  text-align: center;
  font-size: 50px;
}
header{
  position:sticky;
  top:0;
  width:100%;
  z-index:99;
}
.header--search{
  text-align:center;
  backdrop-filter: blur(10px);
  height:10%;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.itemname{
  font-size: 2rem;
  white-space: wrap; /* WARNING, VERY UGLY */

}
.rarity,.itemtype{
  font-size:1.5rem
}
.itemicon{
  max-width: 100%;
  max-height: 100%;
  margin-bottom:5px;
}
.name{
  margin:15px;
  font-size:25px
}
.searchButton,.resetbutton{
  font-size:20px;
}
.dropdownMenu{
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  transition: ease-in-out 0.3s;
  animation: growDown 300ms ease-in-out backwards
}
.description,.itemtyperarity,.partOfSet,.introduced{
  padding:5%;
}
details {
  border-bottom:2px solid #000;
}

summary {
  font-size:20px;
}

details[open] {
  font-size:20px;
}

details[open] summary {
  border-bottom:2px solid #000;
  margin-bottom: 0.5rem;
}
details[open] summary ~ *{ /* tilde  selects sibling elements appearing after the referred to element. in this case it refers to the summary heading and all the text inside*/
  animation: sweep .5s ease-in-out;
}
details[open] .card{
  animation: expand .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-bottom: -10px}
  100%  {opacity: 1; margin-bottom: 0px}
}
@keyframes expand {
  0% {height:150%}
  100%{height:700%}
}
/* media queries */
@media screen and (max-width:900px) {
  *{font-weight: 100;}
  .card {
      width: 40%;
  }
  .heading{
    font-size:3.5rem;
    margin-left:5%;
    margin-top:5%;
  }
  .name{
    width:20%;
    height:20%;
  }
  .header--search{
    height:35%;
  }
}
@media screen and (max-width:500px) {
  *{font-weight: 100;}
  .card {
      width: 60%;
  }
  .heading{
    font-size:2rem;
    margin-left:5%;
    margin-top:5%;
  }
  .name{
    width:20%;
    height:20%;
  }
  .header--search{
    height:35%;
  }
}
