
@import url("variables.css");
@font-face{
  font-family:'burbank';
  src:url('../dist/assets/Burbank.otf');
  font-weight:normal;
}
*{
  box-sizing: border-box;
  font-family:burbank;
margin: 0;
    padding: 0;}
.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  margin:2rem;
  padding: 20px;
  transition:0.3s ease-in-out;
  align-items:center;
  margin-top: 1.5rem 0rem;
  margin-bottom: 10rem;
  width:20%;
  transition: ease-in-out 0.3s;
}


.itemcontainer{
  display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.itemicon{
  max-width: 50%;
  max-height:50%
}
.heading{
  color:white;
  text-align: center;
}
.header--search{
  position:sticky;
  top:0;
  width:100%;
  text-align:center;
  backdrop-filter: blur(10px);
  height:40px;
  display:flex;
  justify-content: center;
  align-items: center;
}
