:root{
    --common:rgb(166,172,177);
    --uncommon:rgb(66,153,10);
    --rare:rgb(0,160,219);
    --epic:rgb(160,67,207);
    --legendary:rgb(212,116,51);
    --common--outline:rgb(205,205,205);
    --uncommon--outline:rgb(127,203,112);
    --rare--outline:rgb(96,182,242);
    --epic--outline:rgb(223,160,225);
    --legendary--outline:rgb(255,194,167);
    --icon--outline:rgb(20,138,145);


}

.icon{
    background:url('/icon.gif');
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--icon--outline);
    border-color:var(--icon--outline)
  }
  .lava{
    background: url('/lava.gif');
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--lava--outline);
    border-color:var(--lava--outline)
  }
  .common{
    background-color:var(--common);
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--common--outline);
    border-color:var(--common--outline)
  }
  .uncommon{
    background-color:var(--uncommon);
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--uncommon--outline);
    border-color:var(--uncommon--outline)
  }
  .rare{
    background-color:var(--rare);
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--rare--outline);
    border-color:var(--rare--outline)
  }

  .epic{
    background-color:var(--epic);
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--epic--outline);
    border-color:var(--epic--outline)
  }
  .legendary{
    background-color:var(--legendary);
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--legendary--outline);
    border-color:var(--legendary--outline)
  }
  .gaminglegends{
    border: 20px solid;
    background: url('/gaminglegends.gif');
    color:white
  }
  .marvel{
    border: 20px solid;
    background:url('/marvel.gif');
  }
  .starwars{
    border: 20px solid;
    background:url('/starwars.gif');
    color:white
  }
