:root{
    --common:#a6acb1;
    --uncommon:#4DB60C;
    --rare:#00a0db;
    --epic:#AE50D3;
    --legendary:#d47433;
    --common--outline:#cdcdcd;
    --uncommon--outline:#7fcb70;
    --rare--outline:#60b6f2;
    --epic--outline:#dfa0e1;
    --legendary--outline:#ffc2a7;
    --icon--outline:#148a91;
    --lava--outline:#c4311c;
    --starwars--outline:#1a3f75;
    --marvel--outline:#e02b24;
    --gaminglegends--outline:#4345d6;


}
/* richard you ae a poopyhead */
.icon{
    background:url('/icon.gif');
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--icon--outline);
    border-color:var(--icon--outline);
    background-size:cover;
  }
  .lava{
    background: url('/lava.gif');
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--lava--outline);
    border-color:var(--lava--outline);
    background-size:cover;
  }
  .common{
    background-color:var(--common);
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--common--outline);
    border-color:var(--common--outline)
  }
  .uncommon{
    background-color:var(--uncommon);
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--uncommon--outline);
    border-color:var(--uncommon--outline)
  }
  .rare{
    background-color:var(--rare);
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--rare--outline);
    border-color:var(--rare--outline)
  }

  .epic{
    background-color:var(--epic);
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--epic--outline);
    border-color:var(--epic--outline);
  }
  .legendary{
    background-color:var(--legendary);
    border: 20px solid;
    box-shadow: 0 10px 20px 0 var(--legendary--outline);
    border-color:var(--legendary--outline)
  }
  .gaminglegends{
    border: 20px solid;
    background: url('/gaminglegends.gif');
    color:#F5F5F5;
    background-size:cover;
    box-shadow: 0 10px 20px 0 var(--gaminglegends--outline);
    border-color:var(--gaminglegends--outline);
  }
  .marvel{
    border: 20px solid;
    background:url('/marvel.gif');
    background-size:cover;
    box-shadow: 0 10px 20px 0 var(--marvel--outline);
    border-color:var(--marvel--outline);
  }
  .starwars{
    border: 20px solid;
    background:url('/starwars.gif');
    color:#F5F5F5;
    background-size:cover; /* covers entire card whether closed or open, makes it a little cleaner but sacrifices smoothness */
    box-shadow: 0 10px 20px 0 var(--starwars--outline);
    border-color:var(--starwars--outline);
  }
